<%- include("header") -%>

<h2 class="box" style="text-align: center">This is an about page</h2>
<p style="text-align: center">
  This is an awesome todo List webiste made by your's truly The codeDaddy!
</p>

<%- include('footer') -%>
